
Binaries/**/*
!Binaries/Win64/
!Binaries/Win64/*.dll
!Binaries/Win64/*.modules
!Binaries/Win64/*.target
Intermediate/
Saved/
DerivedDataCache/

.vs/
*.sln
*.suo
*.user
*.pdb
*.db
*.opendb
*.vsconfig
*.htm

Plugins/*/Intermediate/
Plugins/**/Binaries/**/*
!Plugins/**/Binaries/Win64/
!Plugins/**/Binaries/Win64/*.dll
!Plugins/**/Binaries/Win64/*.modules
!Plugins/**/Binaries/Win64/*.target

Build/
LocalBuilds/